.Typewriter__cursor {
    color: #7f3030;
    letter-spacing: .15em;
    opacity: 0;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.Typewriter__cursor {
    animation: blink 1.15s infinite;
}
